@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin button-decoration ($border, $outline) {
  border: $border;
  outline: $outline;
}