@import "mixins";

//basic properties
$basic-font: 'Open Sans', sans-serif;
$basic-color: #835fa8;
$second-color: #2b303b;
$third-color: #f4f8fb;
$buttons-color: #3dd2ae;
$basic-text-color: #fff;
$second-text-color: #000;
$break-point-small: 768px;
$break-point-medium: 992px;
$break-point-large: 1200px;

body {
  overflow-x: hidden;
}

header {
  @include reset;
  width: 100vw;
  height: 100vh;
  background: url("../images/header-bg.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .navigation {
    padding: 30px 0;
    margin: 0;

    .logo {
      max-width: 63px;
      height: auto;
      margin-bottom: 20px;
    }

    .searching {
      text-align: right;
      padding-right: 0;

      input, p {
        display: inline-block;
        height: 40px;
        @include border-radius(30px);
        color: $basic-text-color;
        font-size: 14px;
        text-align: center;
      }

      input {
        max-width: 260px;
        background: $second-color;
        @include button-decoration(none, none);
        transition: all 0.3s;

        &:hover, &:active{
          background: lighten($second-color, 5%);
          @include button-decoration(none, none);
        }

      }

      p {
        font-family: $basic-font;
        background: $basic-color;
        width: 115px;
        margin: 10px;
        padding: 10px;
      }
    }

  }

  .header-text {
    color: $basic-text-color;
    font-family: $basic-font;
    margin-top: 20px;

    @media screen and (min-width: $break-point-small){
      margin-top: 280px;
    }

    @media screen and (min-width: $break-point-medium) {
      margin-top: 100px;
    }

    @media screen and (min-width: $break-point-large) {
      margin-top: 150px;
    }

    h1 {
      font-size: 60px;
    }

    h3 {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.mobile {

  .mobile-header {
    background: $basic-color;
    margin: 0;
    height: auto;
    padding: 40px 15px;
    position: relative;

    @media screen and (min-width: $break-point-small) {
      height: 500px;
    }

    @media screen and (min-width: $break-point-medium) {
      height: 450px;
    }

    .mobile-header-text {
      font-family: $basic-font;

      h2 {
        font-size: 40px;
        color: $basic-text-color;
      }

      h3 {
        font-size: 16px;
        line-height: 20px;
        color: $buttons-color;
      }

      input {
        width: 165px;
        height: 40px;
        margin: 30px 0;
        font-size: 14px;
        color: $basic-text-color;
        @include border-radius(30px);
        background: $buttons-color;
        @include button-decoration(none, none);
        transition: all 0.3s;
        z-index: 1000;

        &:hover {
          background: darken($buttons-color, 20%);
          @include button-decoration(none, none);
          cursor: pointer;
        }
      }
    }
  }

  .mobile-header-images {
    display: none;

    @media screen and (min-width: $break-point-small) {
      @include reset;
      display: block;
      height: 530px;
      width: auto;
      position: absolute;
      top: -30px;
      background: url("../images/bg-mobile.png") no-repeat top right;
    }

    @media screen and (min-width: $break-point-medium) {
      top: -80px;
      width: 90%;
    }
  }
}

.mobile-description {
  height: auto;
  padding: 40px 15px;
  margin: 0;
  background: $third-color;

  .description {
    font-family: $basic-font;
    margin: 40px 0;

    @media screen and (min-width: $break-point-small) and (max-width: $break-point-large) {
      text-align: center;
    }

    h2 {
      font-size: 30px;
      color: lighten($second-text-color, 40%);
    }

    h3 {
      font-size: 20px;
      line-height: 25px;
      color: lighten($second-text-color, 60%);
      margin: 20px 0;
    }

    h4 {
      font-size: 14px;
      font-weight: bold;
      line-height: 25px;
      color: lighten($second-text-color, 40%);
      margin: 20px 0;
    }

    input {
      width: 165px;
      height: 40px;
      margin: 30px 0;
      font-size: 14px;
      color: $basic-text-color;
      @include border-radius(30px);
      background: $buttons-color;
      @include button-decoration(none, none);
      transition: all 0.3s;

      &:hover {
        background: darken($buttons-color, 20%);
        @include button-decoration(none, none);
        cursor: pointer;
      }
    }
  }
}


.design {

  .design-description {
    background: darken($second-color, 3%);
    height: auto;
    padding: 50px 15px;
    margin: 0;
    text-align: center;
    position: relative;

    @media screen and (min-width: $break-point-small) {
      height: 607px;
      padding-top: 100px;
      padding-bottom: 0;
    }

    &::after {
      content: " ";
      width: 75px;
      height: 75px;
      @include border-radius(50%);
      background: $third-color;
      position: absolute;
      top: -50px;
      left: calc( 50% - 30px);
    }

    h2 {
      font-size: 35px;
      font-family: $basic-font;
      color: $basic-text-color;
    }

    h3 {
      font-size: 16px;
      font-family: $basic-font;
      color: darken($basic-text-color, 30%);
      line-height: 25px;
      margin: 30px 0 54px 0;
    }

    .design-img {
      display: none;
      position: relative;
      height: 290px;

      @media screen and (min-width: $break-point-small) {
        display: block;
      }

      img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  .design-properties {
    background: $second-color;
    padding: 40px 15px;
    margin: 0;

    .property {
      margin: 30px 0;

      h3 {
        font-family: $basic-font;
        font-size: 20px;
        color: $basic-text-color;
        margin-bottom: 20px;

        span {
          color: lighten($second-color, 30%);
        }
      }

      p {
        font-family: $basic-font;
        color: darken($basic-text-color, 20%);
        line-height: 25px;
        font-size: 14px;
      }
    }
  }
}

.conectivity {
  background: darken($third-color, 2%);


  .conectivity-description {
    height: auto;
    margin: 0;
    padding: 40px 15px;

    @media screen and (min-width: $break-point-small) {
      height: auto;
      padding-bottom: 0;
    }

    @media screen and (min-width: $break-point-medium) {
      padding: 0;
    }

    .description {

      @media screen and (min-width: $break-point-medium) {
        padding-top: 20px;
        margin-right: 0;
      }

      img {
        display: block;
        float: left;
        margin: 20px 10px;

      }

      h2 {
        font-family: $basic-font;
        font-size: 35px;
        color: lighten($second-text-color, 10%);
        margin-bottom: 20px;
      }

      h4 {
        font-family: $basic-font;
        font-size: 20px;
        color: lighten($second-text-color, 20%);
        line-height: 25px;
      }

      p {
        margin-top: 40px;
        font-family: $basic-font;
        font-size: 14px;
        color: lighten($second-text-color, 10%);
        line-height: 25px;
      }

    }

    .conectivity-img {
      display: none;

      @media screen and (min-width: $break-point-small) {
        display: block;
        margin: 0 -15px 0 -15px;
        padding: 0;
      }

      @media screen and (min-width: $break-point-medium) {
        margin-right: -15px;
        margin-left: 0;
      }

      img {
        width: 100%;
        height: 100%;
        margin-top: 20px;

        @media screen and (min-width: $break-point-medium) {
          margin-top: 0;
        }
      }
    }
  }

  .conectivity-comments {
    height: auto;
    margin: 0;

    .not-full-bg {
      background: $basic-color;
      padding: 0;

      .conectivity-comments-img {
        display: none;

        @media screen and (min-width: $break-point-small) {
          display: block;
          padding: 0;
        }

        img {
          width: 100%;
          margin-top: -40px;

          @media screen and (min-width: $break-point-medium) {
            margin-top: 0;
          }
        }
      }

      .comment {
        color: $basic-text-color;
        font-family: $basic-font;
        padding: 15px;
        background: $basic-color;

        @media screen and (min-width: $break-point-small) {
          height: 100%;
        }

        @media screen and (min-width: $break-point-medium){
          padding: 20px;
        }

        p {
          font-size: 12px;
          font-style: italic;
          margin-top: 30px;
        }

        blockquote {
          font-size: 25px;
          font-style: italic;
          text-decoration: none;
        }
      }
    }
  }
}

.opinion {
  background: url("../images/Tork_09.png") no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 40px 15px;

  @media screen and (min-width: $break-point-small) {
    height: 40vh;
    padding-top: 100px;
  }

  @media screen and (min-width: $break-point-medium) {
    height: 760px;
    padding: 0;
  }

  .opinion-text {

    @media screen and (min-width: $break-point-medium) {
      background: $basic-color;
      padding: 80px 20px;
    }

    h3, p {
      font-family: $basic-font;
      color: $basic-text-color;
    }

    h3 {
      font-size: 25px;
      font-style: italic;
    }

    p {
      font-size: 14px;
    }
  }
}

footer {
  height: auto;
  background: darken($second-color, 5%);
  margin: 0;
  padding: 40px 15px;
  color: $basic-text-color;
  font-family: $basic-font;

  .footer-description {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .footer-menu {

    @media screen and (min-width: $break-point-medium){
      padding: 20px 0 0 0;
    }

    .menu {

      @media screen and (min-width: $break-point-medium){
        padding: 0;
      }

      ul {
        list-style: none;
        margin: 20px 0;
        padding: 0;

        li {
          line-height: 20px;
          transition: all 0.3s;

          &:hover {
            cursor: pointer;
            color: $basic-color;
          }
        }
      }
    }
  }

  .newsletter {
    margin-top: 30px;

    .search {
      position: relative;


      input {
        width: 100%;
        max-width: 400px;
        height: 60px;
        margin: 20px 0;
        padding: 0 0 0 10px;
        @include button-decoration(none, none);
        @include border-radius(5px);
        color: $second-text-color;
      }

      .tick {
        position: absolute;
        top: 19px;
        right: 0;
        width: 60px;
        height: 62px;
        text-align: center;
        padding-top: 20px;
        background: $basic-color;
        @include border-radius(5px);
        transition: all 0.3s;

        &:hover, &:active {
          background: darken($basic-color, 20%);
        }
      }

      p {
        font-size: 12px;
      }
    }
  }
}