body {
  overflow-x: hidden; }

header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/header-bg.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  header .navigation {
    padding: 30px 0;
    margin: 0; }
    header .navigation .logo {
      max-width: 63px;
      height: auto;
      margin-bottom: 20px; }
    header .navigation .searching {
      text-align: right;
      padding-right: 0; }
      header .navigation .searching input, header .navigation .searching p {
        display: inline-block;
        height: 40px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
        color: #fff;
        font-size: 14px;
        text-align: center; }
      header .navigation .searching input {
        max-width: 260px;
        background: #2b303b;
        border: none;
        outline: none;
        transition: all 0.3s; }
        header .navigation .searching input:hover, header .navigation .searching input:active {
          background: #363c4a;
          border: none;
          outline: none; }
      header .navigation .searching p {
        font-family: "Open Sans", sans-serif;
        background: #835fa8;
        width: 115px;
        margin: 10px;
        padding: 10px; }
  header .header-text {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      header .header-text {
        margin-top: 280px; } }
    @media screen and (min-width: 992px) {
      header .header-text {
        margin-top: 100px; } }
    @media screen and (min-width: 1200px) {
      header .header-text {
        margin-top: 150px; } }
    header .header-text h1 {
      font-size: 60px; }
    header .header-text h3 {
      font-size: 16px;
      line-height: 20px; }

.mobile .mobile-header {
  background: #835fa8;
  margin: 0;
  height: auto;
  padding: 40px 15px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .mobile .mobile-header {
      height: 500px; } }
  @media screen and (min-width: 992px) {
    .mobile .mobile-header {
      height: 450px; } }
  .mobile .mobile-header .mobile-header-text {
    font-family: "Open Sans", sans-serif; }
    .mobile .mobile-header .mobile-header-text h2 {
      font-size: 40px;
      color: #fff; }
    .mobile .mobile-header .mobile-header-text h3 {
      font-size: 16px;
      line-height: 20px;
      color: #3dd2ae; }
    .mobile .mobile-header .mobile-header-text input {
      width: 165px;
      height: 40px;
      margin: 30px 0;
      font-size: 14px;
      color: #fff;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      background: #3dd2ae;
      border: none;
      outline: none;
      transition: all 0.3s;
      z-index: 1000; }
      .mobile .mobile-header .mobile-header-text input:hover {
        background: #208970;
        border: none;
        outline: none;
        cursor: pointer; }

.mobile .mobile-header-images {
  display: none; }
  @media screen and (min-width: 768px) {
    .mobile .mobile-header-images {
      margin: 0;
      padding: 0;
      display: block;
      height: 530px;
      width: auto;
      position: absolute;
      top: -30px;
      background: url("../images/bg-mobile.png") no-repeat top right; } }
  @media screen and (min-width: 992px) {
    .mobile .mobile-header-images {
      top: -80px;
      width: 90%; } }

.mobile-description {
  height: auto;
  padding: 40px 15px;
  margin: 0;
  background: #f4f8fb; }
  .mobile-description .description {
    font-family: "Open Sans", sans-serif;
    margin: 40px 0; }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .mobile-description .description {
        text-align: center; } }
    .mobile-description .description h2 {
      font-size: 30px;
      color: #666666; }
    .mobile-description .description h3 {
      font-size: 20px;
      line-height: 25px;
      color: #999999;
      margin: 20px 0; }
    .mobile-description .description h4 {
      font-size: 14px;
      font-weight: bold;
      line-height: 25px;
      color: #666666;
      margin: 20px 0; }
    .mobile-description .description input {
      width: 165px;
      height: 40px;
      margin: 30px 0;
      font-size: 14px;
      color: #fff;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      background: #3dd2ae;
      border: none;
      outline: none;
      transition: all 0.3s; }
      .mobile-description .description input:hover {
        background: #208970;
        border: none;
        outline: none;
        cursor: pointer; }

.design .design-description {
  background: #252932;
  height: auto;
  padding: 50px 15px;
  margin: 0;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .design .design-description {
      height: 607px;
      padding-top: 100px;
      padding-bottom: 0; } }
  .design .design-description::after {
    content: " ";
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #f4f8fb;
    position: absolute;
    top: -50px;
    left: calc( 50% - 30px); }
  .design .design-description h2 {
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    color: #fff; }
  .design .design-description h3 {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #b3b3b3;
    line-height: 25px;
    margin: 30px 0 54px 0; }
  .design .design-description .design-img {
    display: none;
    position: relative;
    height: 290px; }
    @media screen and (min-width: 768px) {
      .design .design-description .design-img {
        display: block; } }
    .design .design-description .design-img img {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0; }

.design .design-properties {
  background: #2b303b;
  padding: 40px 15px;
  margin: 0; }
  .design .design-properties .property {
    margin: 30px 0; }
    .design .design-properties .property h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      color: #fff;
      margin-bottom: 20px; }
      .design .design-properties .property h3 span {
        color: #6c7894; }
    .design .design-properties .property p {
      font-family: "Open Sans", sans-serif;
      color: #cccccc;
      line-height: 25px;
      font-size: 14px; }

.conectivity {
  background: #edf3f8; }
  .conectivity .conectivity-description {
    height: auto;
    margin: 0;
    padding: 40px 15px; }
    @media screen and (min-width: 768px) {
      .conectivity .conectivity-description {
        height: auto;
        padding-bottom: 0; } }
    @media screen and (min-width: 992px) {
      .conectivity .conectivity-description {
        padding: 0; } }
    @media screen and (min-width: 992px) {
      .conectivity .conectivity-description .description {
        padding-top: 20px;
        margin-right: 0; } }
    .conectivity .conectivity-description .description img {
      display: block;
      float: left;
      margin: 20px 10px; }
    .conectivity .conectivity-description .description h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      color: #1a1a1a;
      margin-bottom: 20px; }
    .conectivity .conectivity-description .description h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      color: #333333;
      line-height: 25px; }
    .conectivity .conectivity-description .description p {
      margin-top: 40px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #1a1a1a;
      line-height: 25px; }
    .conectivity .conectivity-description .conectivity-img {
      display: none; }
      @media screen and (min-width: 768px) {
        .conectivity .conectivity-description .conectivity-img {
          display: block;
          margin: 0 -15px 0 -15px;
          padding: 0; } }
      @media screen and (min-width: 992px) {
        .conectivity .conectivity-description .conectivity-img {
          margin-right: -15px;
          margin-left: 0; } }
      .conectivity .conectivity-description .conectivity-img img {
        width: 100%;
        height: 100%;
        margin-top: 20px; }
        @media screen and (min-width: 992px) {
          .conectivity .conectivity-description .conectivity-img img {
            margin-top: 0; } }
  .conectivity .conectivity-comments {
    height: auto;
    margin: 0; }
    .conectivity .conectivity-comments .not-full-bg {
      background: #835fa8;
      padding: 0; }
      .conectivity .conectivity-comments .not-full-bg .conectivity-comments-img {
        display: none; }
        @media screen and (min-width: 768px) {
          .conectivity .conectivity-comments .not-full-bg .conectivity-comments-img {
            display: block;
            padding: 0; } }
        .conectivity .conectivity-comments .not-full-bg .conectivity-comments-img img {
          width: 100%;
          margin-top: -40px; }
          @media screen and (min-width: 992px) {
            .conectivity .conectivity-comments .not-full-bg .conectivity-comments-img img {
              margin-top: 0; } }
      .conectivity .conectivity-comments .not-full-bg .comment {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        padding: 15px;
        background: #835fa8; }
        @media screen and (min-width: 768px) {
          .conectivity .conectivity-comments .not-full-bg .comment {
            height: 100%; } }
        @media screen and (min-width: 992px) {
          .conectivity .conectivity-comments .not-full-bg .comment {
            padding: 20px; } }
        .conectivity .conectivity-comments .not-full-bg .comment p {
          font-size: 12px;
          font-style: italic;
          margin-top: 30px; }
        .conectivity .conectivity-comments .not-full-bg .comment blockquote {
          font-size: 25px;
          font-style: italic;
          text-decoration: none; }

.opinion {
  background: url("../images/Tork_09.png") no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 40px 15px; }
  @media screen and (min-width: 768px) {
    .opinion {
      height: 40vh;
      padding-top: 100px; } }
  @media screen and (min-width: 992px) {
    .opinion {
      height: 760px;
      padding: 0; } }
  @media screen and (min-width: 992px) {
    .opinion .opinion-text {
      background: #835fa8;
      padding: 80px 20px; } }
  .opinion .opinion-text h3, .opinion .opinion-text p {
    font-family: "Open Sans", sans-serif;
    color: #fff; }
  .opinion .opinion-text h3 {
    font-size: 25px;
    font-style: italic; }
  .opinion .opinion-text p {
    font-size: 14px; }

footer {
  height: auto;
  background: #20242c;
  margin: 0;
  padding: 40px 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif; }
  footer .footer-description {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px; }
  @media screen and (min-width: 992px) {
    footer .footer-menu {
      padding: 20px 0 0 0; } }
  @media screen and (min-width: 992px) {
    footer .footer-menu .menu {
      padding: 0; } }
  footer .footer-menu .menu ul {
    list-style: none;
    margin: 20px 0;
    padding: 0; }
    footer .footer-menu .menu ul li {
      line-height: 20px;
      transition: all 0.3s; }
      footer .footer-menu .menu ul li:hover {
        cursor: pointer;
        color: #835fa8; }
  footer .newsletter {
    margin-top: 30px; }
    footer .newsletter .search {
      position: relative; }
      footer .newsletter .search input {
        width: 100%;
        max-width: 400px;
        height: 60px;
        margin: 20px 0;
        padding: 0 0 0 10px;
        border: none;
        outline: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        color: #000; }
      footer .newsletter .search .tick {
        position: absolute;
        top: 19px;
        right: 0;
        width: 60px;
        height: 62px;
        text-align: center;
        padding-top: 20px;
        background: #835fa8;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        transition: all 0.3s; }
        footer .newsletter .search .tick:hover, footer .newsletter .search .tick:active {
          background: #503968; }
      footer .newsletter .search p {
        font-size: 12px; }
